<div class="container-fluid border-0">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3" style="background-color: #b32116; color: white">

      <div class="row">
        <h3 style="text-align: center; margin-top: 0px;">Welcome to My timer application
        </h3>
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
          <div id="counter" style="border: 0px; font-size: 20px; text-align: center;">00:00:00</div>
        </div>
      </div>
      <br>

      <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
          <div class="col-lg-3">
            <%= form_with(model: timer, local: true) do |form| %>
              <% if timer.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(timer.errors.count, "error") %> prohibited this timer from being saved:</h2>

                  <ul>
                  <% timer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="actions">
                <!-- <#%= form.submit 'Save' %> -->
                <input type="submit" class="btn btn-success-outline btn-block" name="commit" value="Save" data-disable-with="Save">
              </div>

              <div class="field">
                <!-- <#%= form.label :count_time %> -->
                <%= form.hidden_field :count_time, id: :timer_count_time %>
                <!-- <input type="time" id="timer_count_time"> -->
              </div>
            <% end %>
          </div>

          <div class="col-lg-3">
            <button id="start" class="btn btn-success-outline btn-block">Start</button>
          </div>

          <div class="col-lg-3">
            <button id="stop" class="btn btn-success-outline btn-block">Stop</button>
          </div>

          <div class="col-lg-3">
            <button id="reset" class="btn btn-success-outline btn-block">Reset</button>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-lg-12">
          <textarea id="info" style="width: 100%; height: 180px; color: #b32116; padding: 0px;">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </textarea>
        </div>
      </div>

    </div>
  </div>

</div>

<!-- JavaScript -->
<script>
  var startButton = document.querySelector('#start');
  var stopButton = document.querySelector('#stop');
  var resetButton = document.querySelector('#reset');
  var theTimer = document.querySelector("#counter");

  var interval;
  var timer = [0,0,0,0];
  var timerRunning = false;

  function leadingZero(time) {
      if (time <= 9) {
          time = "0" + time;
      }
      return time;
  }

  function runTimer() {

      let currentTime = leadingZero(timer[0]) + ":" + leadingZero(timer[1]) + ":" + leadingZero(timer[2]);
      theTimer.innerHTML = currentTime;
      document.querySelector("#timer_count_time").value = theTimer.innerHTML;
      timer[3]++;

      timer[0] = Math.floor((timer[3]/100)/60);
      timer[1] = Math.floor((timer[3]/100) - (timer[0] * 60));
      timer[2] = Math.floor(timer[3] - (timer[1] * 100) - (timer[0] * 6000));
  }

  function startTimer(event) {

    // event.preventDefault();
    if (!timerRunning) {
      timerRunning = true;
      interval = setInterval(runTimer, 10);
    }
  }

  // stop timer
  function stopTimer() {

    // event.preventDefault();
    clearInterval(interval);
  }

  // Reset everything:
  function reset() {
      clearInterval(interval);
      interval = null;
      timer = [0,0,0,0];
      timerRunning = false;

      theTimer.innerHTML = "00:00:00";
  }



  startButton.addEventListener('click', startTimer, false);
  // start.addEventListener('click', () => { startTimer(event) }, false);
  stopButton.addEventListener('click', stopTimer, false);
  // stop.addEventListener('click', () => { stopTimer(event) }, false);
  resetButton.addEventListener("click", reset, false);
  // resetButton.addEventListener('click', () => { resetTimer(event) }, false);


</script>
