body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #2b2b2b;
}

.mainButtons {
  background-color: #7ba051;
  color: white;
  font-weight: 900 !important;
}
.timer-delete-button {
  background-color: transparent;
}
.timer-delete-button > i {
  color: #1d6d94;
}
.timer-delete-button > i:hover {
  color: green;
  background-color: none;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}
//
.innerRow {
  display: table-row;
  background: #f6f6f6;
}
.innerRow:nth-of-type(odd) {
  background: #e9e9e9;
}
.innerRow.header {
  font-weight: 900;
  // color: #ffffff;
  // background: #ea6153;
  // background: #27ae60;
  background: #c0c0c0;
}
// .innerRow.green {
//   background: #27ae60;
// }
// .innerRow.blue {
//   background: #2980b9;
// }
@media screen and (max-width: 580px) {
  .innerRow {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
  color: #b32116;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}
